.carousel {
  position: relative;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  max-width: 300px; /* Ajuste conforme necessário */
  margin: 0 auto;
  height: auto; /* Defina a altura adequada para as imagens */
}

.carousel ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 0.5s ease;
  width: 100%;
}

.carousel li {
  flex: 0 0 100%; /* Cada item ocupará 100% da largura do carrossel */
  max-width: 100%;
  display: flex;
  flex-direction: column; /* Coloca o texto abaixo da imagem */
  justify-content: center;
  align-items: center; /* Centraliza o conteúdo */
}

.carousel img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centraliza a imagem */
}

.carousel p {
  margin-top: 10px; /* Espaço entre a imagem e o texto */
  font-size: 16px;
  color: white; /* Cor do texto */
  text-align: center;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* Permite que as setas sejam clicáveis sem interferir no resto do conteúdo */
}

.carousel-controls button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
  pointer-events: auto; /* Permite clicar nos botões */
}

.carousel-controls button:hover {
  opacity: 1;
}
@media only screen and (min-width: 1024px){
  .carousel{
    max-width: 25vw;
  }
}