* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  
  }
  /*BOTÕES*/
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
    font-size: 2.2rem;
  }
  
body{
    background-color: #1b1b1b;
    color: #fff;
}
.main{
    padding:0 1rem 0 1rem;
    border-radius: 1rem;
}
a{
    color: #fff;
    text-decoration: none;
}
 a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 568px) {
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
    .main::before,
    .main::after{
        width: 70vw;
    }

}