.skill {
  display: flex;
  flex-direction: column;
}
.skill .tools{
  text-align: center;
}
.skill .tools h3,
.skill .personal h3{
  text-align: left;
  border: solid 1px #322030;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
}
.skill .tools ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.skill .tools ul li img {
  width: 5rem;
}

.skill .personal ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  list-style-position: inside; 
  padding: 0.5rem;

}

.skill .personal ul li {
  padding: 0.1rem;
  margin: 0 0 0 0.5rem;
}


@media only screen and (min-width: 568px) {
    .skill{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
