.skill {
  display: flex;
  flex-direction: column;
  padding:0 0 2rem 0;
}

.skill .tools {
  text-align: center;
}

.skill .tools h3,
.skill .personal h3 {
  text-align: center; /* Alinha o texto ao centro */
  border: solid 1px #322030;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0 0 3rem 0;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto; /* Centraliza horizontalmente */
}

.skill .tools ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skill .tools ul li img {
  width: 5rem;
}

.skill .personal ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  list-style-position: inside;
  padding: 0.5rem;
}

.skill .personal ul li {
  padding: 0.1rem;
  margin: 0 0 0 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .skill .tools h3,
  .skill .personal h3 {
    justify-self: center; /* Centraliza o h3 na célula do grid */
    text-align: center; /* Centraliza o texto */
  }
}
