
/*SECTION PORTIFOLIO*/
.slideshow{
    border: solid 1px #322030;
    border-radius: 1rem;
  }
  .backgroundSlide{
    background-color: #fcfdeb;
    width: 70vw;
    height: 45vh;
    position: absolute;
    top: 0;
    left: 2rem;
    z-index: -1;
  }
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin:3rem 0 3rem;
  
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #322030;
    font-weight: bold;
    font-size: 2.5rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #fcfdeb;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 5rem;
    padding: 15px;
    position: absolute;
    bottom: -3rem;
    width: 100%;
    text-align:start;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#c1a2a0 ;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #322030;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  